@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap');

h1, h2, h3, h4, p, label {
    font-family: 'Nunito Sans', sans-serif;
}

h2,  h3, p, label {
    color: #071033; 
}

h1 {
    color: #071033; ;
    font-weight: bolder;
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 16px;
}

h2{
    font-size: 25px;
    font-weight: bold;
}

label{
    font-size: 25px; font-weight: bold;
}

.btn-primary{ 
    background-color: #071033;
    color: white;
    border: 1px solid #071033;
}

.btn-secondary{ 
    background-color: #ffffff;
    border: 2px solid #071033;
    color:#071033;
}

.btn-eventoff{ 
    background-color: #e4e4e4;
    color: black;
    
}
/* commentaire : boutton on [ bleu] off [ gris]*/
.btn-eventon{ 
    background-color: #007AFF;
    color: white;
}

body {
    background-color: #F0F7FD;
}

#bt-plus {
    display: block;
    width: 100px;
    height: 100px;
    
    position: fixed;
    z-index: 10;
    bottom: 50px;
    right: 10px;
    filter: drop-shadow(5px 5px 5px);
}

.tags-list .badge a {
    color: white;
}
.tags-list .badge a:hover {
    text-decoration: none;
}
hr {
    width: 100%;
}
.message a {
    color: #071033;
}
a:link{
    text-decoration: none;
}