.navbar {
    background-color: #071033 !important;
}

header .fas {
    color: white;
}

.dropdown-menu {
    background-color: #071033;
}

.dropdown-menu a {
    color: white;
}

header .badge {
    background-color: #EA2831;
}