

hr{
top: 678px;
left: 15px;
width: 342px;
border: 10px solid var(--unnamed-color-071033);
border: 10px solid #071033;
opacity: 1;
height: 1px;
margin: -0.5em 0;
padding: 0;
border-radius: 5px;
}

.bt-modif-profil img{
    position: absolute;
    bottom: 15%;
    right: 15%;
    width: 20%;
}

.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;    
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;    
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}

.col-time{
    text-align: right;
    border-radius: 10px;
}

article{
    background-color: right;
    border-radius: 10px;
}