{% extends 'base.html.twig' %}

{% block title %}Change MDP{% endblock %}

{% block body %}

    <h1>Modifier Mon Mot de Passe</h1>
    {% for message in app.flashes('error') %}
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <form method="post">
        <div class="form-group">
            <label for="password1">Mot de passe</label>
            <input type="password" class="form-control" name="password1" id="password1">
        </div>
        <div class="form-group">
            <label for="password2">Confirmer le mot de passe</label>
            <input type="password" class="form-control" name="password2" id="password2">
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>

{% endblock %}